/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }
td { padding: 8px;
    border: 7px;
    background-color :#33b5e5;
    color: #ffffff;
}
td:onClick {
	color:black;
}

.tiles{
	width: 204px;
}

.tile{
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 0.5px solid black;
}

.tile-flipped .tile-main{
	transform: rotatey(-180deg);
}

.tile-matched .tile-main{
	transform: rotatey(-180deg);
	background: lightgreen;
}

.tile-hidden{
	cursor: pointer;
}

.tile-main{
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all .5s;
}

.tile-front{
	text-allign: centre;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
}

.tile-back{
	text-allign: centre;
	font-size: 2vw;
	color: black;
	transform: rotatey(-180deg);
}
